body {
  font-family: 'Montserrat', sans-serif;
  background: #000;
  font-size: 16px;
  line-height: 1.2;
  background-color: #000;
  color: #fff;
}
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.burger {
  display: none;
  width: 100%;
  padding: 0 15px;
}
.burger-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
  padding-bottom: 44px;
  margin-bottom: 60px;
}
.burger-navs {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger-navs a {
  font-family: 'Gilroy', sans-serif;
  font-size: 30px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.burger-navs li {
  margin-bottom: 45px;
}
.burger-active {
  width: 100%;
  height: 100vh;
  background: #202020;
}
.burger-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 11;
}
.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
  position: absolute;
  right: 0;
  width: 26px;
  height: 2px;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}
.burger-btn span::before,
.burger-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger-btn span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.burger-btn span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.burger-btn_active span {
  height: 0;
}
.burger-btn_active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-btn_active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.burger-btn_inner {
  margin-left: auto !important;
  margin: 7px auto 0;
  max-width: 242px;
  background: transparent;
  border: 1px solid #5700FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}
.burger-btn_inner a {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0015em;
  color: #5700FF;
}
.btn {
  border: none;
  background-color: #4f4ff4;
  color: #fff;
  font-size: 20px;
  min-width: 220px;
  padding: 12px 15px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #8686ff;
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0;
}
.container-wrapper {
  padding: 0 40px;
}
.projects_fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  -webkit-animation-name: show_header;
          animation-name: show_header;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 0px 16px 40px -19px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 16px 40px -19px rgba(0, 0, 0, 0.3);
  padding: 0 15px;
}
.projects_fixed nav {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 16px;
}
.projects_fixed_2 {
  top: 65px;
}
.header {
  padding-top: 26px;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  margin-right: 50px;
}
.header-navs a {
  margin-right: 35px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.header-navs a:hover {
  color: #8686ff;
}
.header-navs a:last-child {
  margin-right: 0;
}
.header-tortu {
  width: 245px;
  height: 68px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.footer {
  padding-top: 103px;
  padding-bottom: 141px;
}
.footer-header {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
}
.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  margin-bottom: 40px;
}
.footer-icons a {
  opacity: 0.2;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  margin: 0 8px;
}
.footer-icons a:hover {
  opacity: 1;
}
.footer-icons a:first-child {
  margin-left: 0;
}
.footer-address {
  margin-left: 65px;
}
.footer-address h1 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2.43px;
  font-weight: 800;
}
.footer-address p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  line-height: normal;
}
.footer-address a {
  opacity: .7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.89px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 12px !important;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.footer-address a:hover {
  color: #5c7aff;
}
.footer-text {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2.43px;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 8px;
}
.footer-link {
  position: relative;
  display: inline-block;
  line-height: normal;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.footer-link:hover {
  color: #fff;
}
.footer-link:after {
  content: "";
  position: relative;
  margin-top: 2px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.footer .btn {
  display: block;
  margin-top: 113px;
}
body > footer > div > div > h1:nth-child(3) {
  margin-bottom: 20px;
}
#footer-address-small {
  display: none;
}
@media (max-width: 1025px) {
  .header-tortu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger-inner {
    margin-bottom: 0;
  }
  #header-navs-pc,
  #header-logo-pc {
    display: none;
  }
  .main {
    padding-top: 30px;
  }
}
@media (max-width: 769px) {
  .container-wrapper {
    padding: 0 15px;
  }
  #footer-address-big {
    display: none;
  }
  #footer-address-small {
    display: block;
  }
  .header {
    padding-top: 0;
  }
  .header .container-wrapper {
    padding: 0;
  }
  #header-navs-pc a {
    margin-right: 2px;
  }
  .main-cat-active:after {
    height: 2px;
  }
  #footer-address {
    display: none;
  }
  .footer-address {
    margin-top: 72px;
    margin-left: 0;
  }
  .footer-address p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-address p a {
    margin-left: 0 !important;
    margin-top: 12px;
  }
  .footer .btn {
    margin-top: 65px;
  }
}
@media (max-width: 426px) {
  #header-logo-pc,
  #header-navs-pc {
    display: none;
  }
  .burger {
    display: block;
  }
}
