body {
  background: #fff;
  font-family: 'SF Pro Text', sans-serif;
}
.container {
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Timmana', sans-serif;
  font-size: 24px;
  letter-spacing: -0.045em;
  color: #000;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.logo p,
.logo span {
  display: inline-block;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.main {
  padding-top: 44px;
}
.main-title {
  text-align: center;
}
.main-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.02em;
  color: #000;
  padding-top: 75px;
  padding-bottom: 75px;
}
.header-burger {
  display: none;
  margin-bottom: 50px;
}
.header-radius {
  border-radius: 10px 10px 0 0;
}
.menu-wrapper {
  width: 30px;
  height: 60px;
  cursor: pointer;
  float: right;
}
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 30px;
  height: 5px;
}
.hamburger-menu {
  position: relative;
  transform: translateY(25px);
  background: #000000;
  transition: all 0ms 300ms;
}
.hamburger-menu.animate {
  background: rgba(0, 0, 0, 0);
}
.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #000000;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #000000;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-bottom: 88px;*/
}
.header-inner {
  display: flex;
  align-items: center;
}
.header-inner nav a {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 38px;
  position: relative;
}
.header-inner nav a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(270deg, #417fff 100%, #4b3cff 100%);
  transition: width 0.3s;
}
.header-inner nav a:hover:after {
  content: '';
  width: 100%;
  left: 0;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-btn {
  padding: 8.5px 10px;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid #3F00E7;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
}
.header-btn a {
  color: #000;
}
.faq-inner {
  display: block;
  margin: 0 auto;
  max-width: 751px;
}
.faq-inner h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 59px;
  letter-spacing: -0.06em;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding-top: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.faq-content {
  max-height: 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.035em;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.faq-tripper {
  line-height: 38px !important;
}
.faq-item.active .faq-content {
  max-height: 1000px;
}
.footer {
  margin-top: 85px;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-socials {
  font-family: 'SF Pro Text', sans-serif;
  display: flex;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
}
.footer-socials p {
  margin-right: 20px;
}
.footer-socials img {
  margin-right: 21px;
}
.footer-logo {
  margin-top: 19px;
}
.footer-navs a {
  font-weight: 400;
  font-size: 18px;
  line-height: 59px;
  letter-spacing: -0.06em;
  color: #000;
  margin-right: 46px;
}
.footer-navs a:last-child {
  margin-right: 0;
}
.footer-mail {
  font-weight: 300;
  font-size: 14px;
  line-height: 59px;
  letter-spacing: -0.06em;
  color: #000;
}
.footer-copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 59px;
  letter-spacing: -0.06em;
  color: #000;
}
.footer-copyright strong {
  font-weight: 700;
}
@media (max-width: 769px) {
  .footer-navs a {
    line-height: 45px;
  }
}
@media (max-width: 426px) {
  .main {
    padding-top: 10px;
    margin: 10px;
  }
  #header {
    display: none;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  .header-logo h1 {
    margin-right: 0;
  }
  .header-fixed {
    padding-top: 10px;
  }
  .header-btn {
    padding: 8px 20px;
    font-size: 15px;
  }
  .header-burger {
    display: block;
    margin-bottom: 30px;
  }
  .header-burger-navs {
    display: none;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.69);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0 0 30px 30px;
  }
  .header-burger-navs a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: SF Pro Display;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    position: relative;
  }
  .header-burger-navs a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(270deg, #417fff 100%, #4b3cff 100%);
    transition: width 0.3s;
  }
  .header-burger-navs a:hover:after {
    content: '';
    width: 100%;
    left: 0;
  }
  .header-burger-navs button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  #header-burger > div.header.header_fixed {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .faq-inner h1 {
    font-size: 21px;
    line-height: 30px;
    padding-left: 0;
  }
  .faq-content {
    padding-left: 0;
    margin-bottom: 5px;
  }
  .faq-tripper {
    line-height: 30px !important;
  }
  .footer {
    margin-top: 85px;
  }
  .footer-flex {
    flex-direction: column;
  }
  .footer-navs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer-navs a {
    margin-right: 0;
  }
  .footer p {
    text-align: center;
  }
  .footer-mail {
    display: flex;
    justify-content: center;
  }
}