.container {
	max-width: 1040px;
	margin: 0 auto;
}

.btn {
	border: 1px solid ;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-navs a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #0F091E;
	text-decoration: none;
}